#wall .tag-1 {
  display: none;
}
#wall #tag-2 {
  display:none;
}
#wall #tag-3.slick {
  display:none;
  visibility: hidden;
}
#wall #tag-4 {
  display:none;
}
#wall .parent #tag-5.slick {
  display:none;
  visibility: hidden;
}
#wall div.parent div:last-child #tag-6 {
  display: none;
  visibility: hidden;
}
body #wall div.parent div > #tag-7.slick {
  display: none;
  visibility: hidden;
}
#wall {
  visibility: visible;
}